<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/commons.css">
    <link rel="stylesheet" href="/book.css">
</head>
<body>
<div id="logo">
    <img src="/logo.png">
</div>

<div id="menu">
    <a href="/main" class="button">Strona Główna</a>
    <a href="/contact" class="button">Kontakt</a>
</div>
<div id="content">
    <div class="book" th:each="book : ${books}">
        <div th:text="${book.title}" class="title"></div>
        <div th:text="${book.author}" class="author"></div>
        <div th:text="${'Price: ' + book.price + ' zł'}" class="price"></div>
        <div th:text="${'ISBN: ' + book.isbn}" class="isbn"></div>
        <div th:text="${'Available: ' + book.quantity}" class="quantity"></div>
    </div>
</div>
</body>
</html>