<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments.html :: headers}"></th:block>
</head>
<body>

<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>

<div id="content">
    <form method="post">
        <input type="text" placeholder="login" name="login" class="input-field">
        <input type="text" placeholder="password" name="password" class="input-field">
        <input type="submit" value="Zaloguj" class="button">
        <a href="/register" style="display: block;"> Zarejestruj </a>
    </form>
</div>
</body>
</html>